<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_ReCaptcha>
            <version>2.2.0</version>
            <depends>
                <Mage_Captcha/>
            </depends>
        </ProxiBlue_ReCaptcha>
    </modules>
    <global>
        <blocks>
            <proxiblue_recaptcha>
                <class>ProxiBlue_ReCaptcha_Block</class>
            </proxiblue_recaptcha>
        </blocks>
        <helpers>
            <proxiblue_recaptcha>
                <class>ProxiBlue_ReCaptcha_Helper</class>
            </proxiblue_recaptcha>
        </helpers>
        <models>
            <proxiblue_recaptcha>
                <class>ProxiBlue_ReCaptcha_Model</class>
            </proxiblue_recaptcha>
            <captcha>
                <rewrite>
                    <recaptcha>ProxiBlue_ReCaptcha_Model_Recaptcha</recaptcha>
                </rewrite>
            </captcha>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <captcha>
                        <class>proxiblue_recaptcha/observer</class>
                        <method>checkContact</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_review_product_post>
                <observers>
                    <captcha>
                        <class>proxiblue_recaptcha/observer</class>
                        <method>checkReview</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_review_product_post>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <captcha>
                        <class>proxiblue_recaptcha/observer</class>
                        <method>newsletterSubscriber</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ProxiBlue_ReCaptcha>
                    <files>
                        <default>ProxiBlue_ReCaptcha.csv</default>
                    </files>
                </ProxiBlue_ReCaptcha>
                <!-- Magento forgot to add this to Mage_Captcha's config.xml -->
                <Mage_Captcha>
                    <files>
                        <default>Mage_Captcha.csv</default>
                    </files>
                </Mage_Captcha>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <proxiblue_recaptcha>
                    <file>proxiblue_recaptcha.xml</file>
                </proxiblue_recaptcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <ProxiBlue_ReCaptcha>
                    <files>
                        <default>ProxiBlue_ReCaptcha.csv</default>
                    </files>
                </ProxiBlue_ReCaptcha>
                <!-- Magento forgot to add this to Mage_Captcha's config.xml -->
                <Mage_Captcha>
                    <files>
                        <default>Mage_Captcha.csv</default>
                    </files>
                </Mage_Captcha>
            </modules>
        </translate>
    </frontend>
    <default>
        <admin>
            <captcha>
                <type>recaptcha</type>
                <theme>New</theme>
                <language>en</language>
                <mode>always</mode>
            </captcha>
        </admin>
        <customer>
            <captcha>
                <type>recaptcha</type>
                <theme>invisible</theme>
                <position>bottomright</position>
                <language>en</language>
                <mode>always</mode>
                <always_for>
                    <user_create>1</user_create>
                    <user_forgotpassword>1</user_forgotpassword>
                    <guest_checkout>1</guest_checkout>
                    <register_during_checkout>1</register_during_checkout>
                    <wishlist_sharing>1</wishlist_sharing>
                    <sendfriend_send>1</sendfriend_send>
                    <user_contact>1</user_contact>
                    <user_review>1</user_review>
                    <review-form>1</review-form>
                    <newsletter_subscribe>1</newsletter_subscribe>
                </always_for>
            </captcha>
        </customer>
        <captcha translate="label">
            <frontend>
                <areas>
                    <user_contact>
                        <label>Contact</label>
                    </user_contact>
                    <user_review>
                        <label>Reviews</label>
                    </user_review>
                    <review-form>
                        <label>Reviews in Product View</label>
                    </review-form>
                    <newsletter_subscribe>
                        <label>Newsletter Subscribe</label>
                    </newsletter_subscribe>
                </areas>
            </frontend>
        </captcha>
    </default>
</config>
